*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: rgb(42, 36, 36);
    width: 100vw; 
    height: 100vh;  
    display: flex;  
    justify-content: center;
    position: relative;
}



.container{
    position: absolute;
    display: flex;
    border: 1px solid black;
    top: 30%;
    width: 250px;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(46, 43, 43);
    border-radius: 10px;
    gap: 1.5rem;
}
.profile-image img{
    margin-top:3rem;
    border-radius: 100%;
    width: 8rem;
   
}

.candidate-name{
    font-weight: 600;
    color: white;
    font-size: 0.65rem;
    
}
.skills{
    color: white;
    font-size: 0.5rem;
    margin-top: -10px;
}
.button-box{
    display: flex;
    gap: 25px;
}
.buttons{
    width: 5.2rem;
    height:1.5rem;
    font-size: 0.5rem;
    border: 1.5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.25rem;
    cursor: pointer;
    gap: 0.15rem;
    overflow: hidden;
    margin-bottom: 3rem;
   
   
}
.buttons:hover{
    background-color: rgba(223, 211, 211, 0.642);
}

.right-button{
    justify-content: center;
    
}

/* share modal */

.modal{
    width: 20rem;
    height: 12rem;
    /* border: 2px solid red; */
    background-color: rgba(7, 7, 7, 0.75);
    border-radius: 0.5rem;
    scale: 0;
    position:fixed;
    top: 53%;
    
    z-index: 2;
    
    transition: 0.5s;
    
    
}
.top-box{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(79, 76, 76);
}
.top-box h1{
    font-weight: 700;
    color: white;
    font-size: 1.2rem;
   
}
.cross-icon{
    font-weight: 800;
    font-size: 1rem;
    color: white;
    border: hidden;
    background-color:rgba(7, 7, 7, 0.75);
}

.cross-icon:hover{
    cursor: pointer;
    
}
.bottom-box{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bottom-box h3{
    font-weight:500;
    color: white;


}
.social-icon{
    display: flex;
    justify-content: space-between;
}

.social-icon i{
    font-size: 1.5rem;
    cursor: pointer;
}
.facebook{
    border: 3px solid rgb(95, 95, 224);
    color: rgb(95, 95, 224);
    padding:0.5rem ;
    border-radius: 0.25rem;
}
.whatsapp{
    border: 3px solid rgb(49, 161, 49);
    color:  rgb(49, 161, 49);
    padding:0.5rem ;
    border-radius: 1rem;
}
.twitter{
    border: 3px solid rgb(82, 170, 205);
    color:  skyblue;
    padding:0.5rem ;
    border-radius: 1rem;
}
.instagram{
    border: 3px solid rgb(235, 102, 102);
    color: red ;
    padding:0.5rem ;
    border-radius: 1rem;
}



/*   action on modal with java script */


    .overlay {
  position: fixed;         
  top: 0;
  left: 0;
  width: 100vw;            
  height: 100vh;           
  background-color: rgba(2, 2, 2, 0.703);  
  z-index: 1;           
  scale: 0;
  transition: 0.5 ease-in-out;
  pointer-events: none;
}

.overlayactive{
    scale: 1;
    pointer-events: initial;
}

.active{
    scale:1;
}

